*{
  scroll-behavior: smooth;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #6e6c6c;
  color: #faf6f2;
  padding: 1rem 2rem;
  width: 100%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
left: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

nav a:hover {
  background-color: #faf6f2;
  color: black;
  border-radius: 6px;
}

.burger_Menu {
  display: none;
  cursor: pointer;
  font-size: 28px;
  color: #faf6f2;

}

.content {
  margin-top: 70px; 
  padding: 1rem;
}

@media (max-width: 768px) {
  .burger_Menu {
    display: block;
 
  }

  nav {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 1rem;
    background-color: #4e4e4e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 4rem;
    left: 0;
  }

  nav.nav-open {
    display: flex;
  }

  nav a {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    color: #fff;
  }
}